body{
    background-color: #E4F6F6;
    text-align: center;
    
}
h1{
    font-size:3rem;
    font-family: "Montserrat";
    color: #66BFBF;
    padding-top: 30px;

}
.para-1{
    line-height:1.5;
    font-size: 30px;
    color: #11999E;
    padding-bottom: 30px;
    padding-top:30px
}
.pi{
    padding-top: 50px ;
    padding-bottom: 30px ;
    font-family: "Uchen";
}

.carousel{
    padding-top:40px;
    padding-bottom:40px;
}